.env
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.vscode/
.idea/
*.xlsx

# Google Cloud Service Account credentials (avoid leaking to Github)
linen-rex-*.json
*-*.json
*credentials*.json
*creds*.json
*key*.json
render_env.txt
